<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="conn" connectionString="Server=b43298b5-5b63-4723-a89f-a3e300998ed9.sqlserver.sequelizer.com;Database=dbb43298b55b634723a89fa3e300998ed9;User ID=hqvbrbpdfjierdku;Password=XczVzkHFgMHnSEScRYpgKCBbq6LVLWXoavs6P2Wgeu5cDxxQMsBX2smtGyDBGU3r;"/>
  </connectionStrings>
</configuration>
